<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppEmailing</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">AppEmailing</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="contacts">Tous mes contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mail">Mes mails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="modeleMail">Modèles de mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="wordings">Libellés</a>
                </li>
            </ul>
        </nav>