<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/addNewContact.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact</title>
</head>

<body>
    <%-include("header")-%>
        <div class="bodyContainer">
            <%- include("menu") -%>
                <div class="bodyContact">
                    <ul>
                        <a href="http://localhost:3000/contacts">
                            <li>Tous les contacts</li>
                        </a>
                        <a href="http://localhost:3000/contactsList">
                            <li>Contacts par liste</li>
                        </a>
                        <li class="selected">Ajouter un contact</li>
                    </ul>
                    <div class="addBody">
                        <form action="/sendNewContact" method="POST">
                            <label>Surnom</label>
                            <input type="text" id="name" name="name" />
                            <label>Prénom</label>
                            <input type="text" id="firstname" name="firstname" />
                            <label>Nom</label>
                            <input type="text" id="lastname" name="lastname" />
                            <label>Mail</label>
                            <input type="text" id="mail" name="mail" />
                            <label>Choisissez une liste</label>
                            <select name="list" id="list"></select>
                            <input type="submit" class="button" value="Ajouter" />
                        </form>
                    </div>
                </div>
        </div>

        <script>
            const result = '<%-model %>'
            const data = JSON.parse(result)
            const selectList = document.getElementById("list")

            data.forEach(element => {
                var optionList = document.createElement("option")
                optionList.value = element['id']
                optionList.text = element['name']
                console.log(element['name'])
                selectList.appendChild(optionList)
            });
        </script>
</body>

</html>