<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/contact.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact</title>
</head>

<body>
    <%-include("header")-%>
        <div class="bodyContainer">
            <%- include("menu") -%>
                <div class="bodyContact">
                    <ul>
                        <li class="selected">Tous les contacts</li>
                        <li>Contacts par liste</li>
                        <li>Ajouter un contact</li>
                    </ul>
                    <div class="modification">
                        <form action="POST">
                            Rentrer l'id :
                            <input type="text" name="idContact" />
                            <input type="submit" formaction="" value="Modifier" />
                            <input type="submit" formaction="" value="Supprimer" />
                        </form>
                    </div>
                    <table id="tableContact">
                        <thead>
                            <tr>
                                <th id="firstTh" scope="col">Id</th>
                                <th scope="col">Surnom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Date de création</th>
                                <th scope="col"></th>
                                <th id="lastTh" scope="col"></th>
                            </tr>
                        <tbody></tbody>
                        </thead>
                    </table>
                </div>
        </div>
        <script>
            var result = '<%-resultModule %>'
            var data = JSON.parse(result)
            var count = 0
            data.forEach(element => {
                count++;
            });
            const table = document.querySelector("table")
            const tableBody = table.querySelector("tbody")
            tableBody.innerHTML = ""

            data.forEach(element => {
                const rowElt = document.createElement("tr")
                rowElt.classList = "listContact"
                console.log(element)
                const arrayOfElt = []
                arrayOfElt.push(element['id'])
                arrayOfElt.push(element['name'])
                arrayOfElt.push(element['firstname'])
                arrayOfElt.push(element['lastname'])
                arrayOfElt.push(element['mail'])
                arrayOfElt.push(element['creationdate'])

                for (const elt of arrayOfElt) {
                    const cellElt = document.createElement("td")
                    cellElt.textContent = elt
                    rowElt.appendChild(cellElt)
                    console.log(elt)
                }
                tableBody.appendChild(rowElt)
            })
        </script>
</body>

</html>