<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/contact.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact</title>
</head>

<body>
    <%-include("header")-%>
        <div class="bodyContainer">
            <%- include("menu") -%>
                <div class="bodyContact">
                    <ul>
                        <li class="selected">Tous les contacts</li>
                        <a href="http://localhost:3000/contactsList">
                            <li>Contacts par liste</li>
                        </a>
                        <a href="http://localhost:3000/addNewContact">
                            <li>Ajouter un contact</li>
                        </a>
                    </ul>
                    <div class="modification">
                        <form method="POST">
                            Rentrez l'id :
                            <input type="text" name="id" />
                            <input type="submit" formaction="/contactModify" value="Modifier" />
                            <input type="submit" formaction="/deleteContact" value="Supprimer" />
                        </form>
                    </div>
                    <table id="tableContact">
                        <thead>
                            <tr>
                                <th id="firstTh" scope="col">Id</th>
                                <th scope="col">Surnom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th id="lastTh" scope="col">Mail</th>
                            </tr>
                        <tbody></tbody>
                        </thead>
                    </table>
                </div>
        </div>
        <script>
            var result = '<%-resultModule %>'
            var data = JSON.parse(result)
            const table = document.querySelector("table")
            const tableBody = table.querySelector("tbody")
            tableBody.innerHTML = ""

            data.forEach(element => {
                const rowElt = document.createElement("tr")
                rowElt.classList = "listContact"
                const arrayOfElt = []
                arrayOfElt.push(element['id'])
                arrayOfElt.push(element['name'])
                arrayOfElt.push(element['firstname'])
                arrayOfElt.push(element['lastname'])
                arrayOfElt.push(element['mail'])

                for (const elt of arrayOfElt) {
                    const cellElt = document.createElement("td")
                    cellElt.classList = "cell"
                    cellElt.textContent = elt
                    rowElt.appendChild(cellElt)
                }
                /*const cellImg = document.createElement("td")
                cellImg.innerHTML = '<a onclick="getInfoRow()"><img src="pen-solid 1ic-modify.png" /></a>'
                rowElt.appendChild(cellImg)*/
                tableBody.appendChild(rowElt)
            })

            /*function getInfoRow() {
                const table = document.querySelector("table")
                const cells = document.querySelectorAll("td")
                cells.forEach(cell => {
                    cell.addEventListener('click', () => {
                        var index = cell.closest('tr').rowIndex
                        const data = table.rows[index].cells[0].innerHTML
                        console.log(data)
                        fetch("/contactModify", {
                            method: "POST",
                            body: JSON.stringify(data)
                        }).then(res => {
                            console.log("nickel", res)
                        })
                    })
                })
            }*/
        </script>
</body>

</html>