<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/contact.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact</title>
</head>

<body>
    <%-include("header")-%>
        <div class="bodyContainer">
            <%- include("menu") -%>
                <div class="bodyContact">
                    <ul>
                        <li>Tous les contacts</li>
                        <li>Contacts par liste</li>
                        <li>Ajouter un contact</li>
                    </ul>
                    <table id="tableContact">
                        <thead>
                            <tr>
                                <th id="firstTh" scope="col">Surnom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Date de création</th>
                                <th scope="col"></th>
                                <th id="lastTh" scope="col"></th>
                            </tr>
                            <!--<tr class="listContact">
                                <td>Micka</td>
                                <td>Mickeal</td>
                                <td>Forban</td>
                                <td>mail@jsisi.fr</td>
                                <td>2022-07-24</td>
                                <td><img class="icon" src="pen-solid 1ic-modify.png" /></td>
                                <td><img class="icon" src="trash-solid 1ic-delete.png" /></td>
                            </tr>-->
                        <tbody></tbody>
                        </thead>
                    </table>
                </div>
        </div>
        <script>
            var result = '<%-resultModule %>'
            var data = JSON.parse(result)
            var count = 0
            data.forEach(element => {
                count++;
            });
            const table = document.querySelector("table")
            const tableBody = table.querySelector("tbody")
            tableBody.innerHTML = ""

            data.forEach(element => {
                const rowElt = document.createElement("tr")
                console.log(element)
                const arrayOfElt = []
                arrayOfElt.push(element['name'])
                arrayOfElt.push(element['firstname'])
                arrayOfElt.push(element['lastname'])
                arrayOfElt.push(element['mail'])
                arrayOfElt.push(element['creationdate'])

                for (const elt of arrayOfElt) {
                    const cellElt = document.createElement("td")
                    cellElt.textContent = elt
                    rowElt.appendChild(cellElt)
                    console.log(elt)
                }
                const cellLogoModify = document.createElement("td")
                const cellLogoDelete = document.createElement("td")
                /*var modifyLogo = document.createElement("img")
                modifyLogo.src = "pen-solid 1ic-modify.png"
                modifyLogo.classList = "icon"*/
                cellLogoModify.innerHTML = '<img class="icon" src="pen-solid 1ic-modify.png" />'
                rowElt.appendChild(cellLogoModify)

                cellLogoDelete.innerHTML = '<img class="icon" src="trash-solid 1ic-delete.png" />'
                rowElt.appendChild(cellLogoDelete)

                tableBody.appendChild(rowElt)
            })

            //console.log(count)
        </script>
</body>

</html>