<div class="headerWebsite">
    <div class="logoContainer">
        <img height="60px" src="logo.png" />
    </div>
    <div class="userHeader">
        <img class="userLogo" height="25px" src="ic-user.png" />
        <h4 class="userName">
            <%= getName %>
        </h4>
        <a href="/logout"><img class="menuBar" height="30px" src="menu-bar.png" /></a>
    </div>
</div>