<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/mail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Id du dernier mail envoyé</title>
</head>

<body>
    <%- include("header") -%>
        <div class="bodyContainer">
            <%- include("menu") -%>

                <div class="Mail">
                    <h1 class="titre">Id du dernier mail envoyé</h1>
                    <div class="count">
                        <% for (const last of model) { %>
                            <%= last.max %>
                                <%}%>
                    </div>
                </div>
        </div>
</body>

</html>