<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="box">
        <div class="general">
            <center>
            <a href="/home" id="1">
            <img class="image" src="pen-to-square-solid.png"></img>
            </a>
            <p>Ecrire un mail</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/contacts" id="2">
            <img class="image" src="address-book-solid.png"></img>
            </a>
            <p>Contacts</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/mail" id="3">
            <img class="image-bis" src="envelope-circle-check-solid.png"></img>
            </a>
            <p>Mails</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/modele" id="4">
            <img class="image" src="envelope-open-text-solid.png"></img>
            </a>
            <p>Modèles mail</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/libelles" id="5">
            <img class="image" src="tag-solid.png"></img>
            </a>
            <p>Libellés</p>
            </center>
        </div>
    </div>
</body>

</html>