<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="box">
        <div class="general">
            <center>
            <a href="/home" id="1" onclick="setOnClickBackground(this.id)">
            <img class="image" src="pen-to-square-solid.png"></img>
            </a>
            <p>Ecrire un mail</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/contacts" id="2" onclick="setOnClickBackground(this.id)">
            <img class="image" src="address-book-solid.png"></img>
            </a>
            <p>Contacts</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/mail" id="3" onclick="setOnClickBackground(this.id)">
            <img class="image-bis" src="envelope-circle-check-solid.png"></img>
            </a>
            <p>Mails</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/#Modele" id="4" onclick="setOnClickBackground(this.id)">
            <img class="image" src="envelope-open-text-solid.png"></img>
            </a>
            <p>Modèles mail</p>
            </center>
        </div>
        <div class="general">
            <center>
            <a href="/libelles" id="5" onclick="setOnClickBackground(this.id)">
            <img class="image" src="tag-solid.png"></img>
            </a>
            <p>Libellés</p>
            </center>
        </div>
    </div>


<!--
    <script type="text/javascript">
        function resetBackground(id) {
            document.getElementById(id).style.background = "#346B74"
        }

        function setOnClickBackground(id) {
            document.getElementById(id).style.background = "#8AA295"
            if (id == '1') {
                resetBackground('2')
                resetBackground('3')
                resetBackground('4')
                resetBackground('5')
            }
            if (id == '2') {
                resetBackground('1')
                resetBackground('3')
                resetBackground('4')
                resetBackground('5')
            }
            if (id == '3') {
                resetBackground('1')
                resetBackground('2')
                resetBackground('4')
                resetBackground('5')
            }
            if (id == '4') {
                resetBackground('1')
                resetBackground('2')
                resetBackground('3')
                resetBackground('5')
            }
            if (id == '5') {
                resetBackground('1')
                resetBackground('2')
                resetBackground('3')
                resetBackground('4')
            }
        } 
    </script>
-->

</body>

</html>