.contain{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-top: 15px;
}

.button {
    background-color: #255957;
    color: white;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin-bottom: 5px;
}

.button:hover {
    background-color:#EEEBD3;
    color: black;
    border-style: none;
}
