.logo-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-background {
    width: 25%;
    background-color: #EEEBD3;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    text-align: start;
    font-size: 18px;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #255957;
    border-color: rgb(0, 0, 0, 0.0);
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-and-error {
    margin-top: 30px;
}