.box {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.general {
    color: white;
    background-color: #346B74;
    width: 100px;
    height: 159px;
}

.general:hover {
    background-color: #8AA295;
}

.image {
    margin-top: 15px;
}

.image-bis {
    margin-top: 15px;
    margin-left: 10px;
}