.bodyContact {
    width: 50%;

}

.formBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEBD3;
}

.button {
    margin-top: 5%;
    background-color: #255957;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 20%;
}